<div class="map-fill" leaflet [leafletOptions]="leafletOptions" (leafletMapReady)="onLeafletReady($event)"></div>

<div class="map-controls">
  <ng-content></ng-content>
  <button mat-mini-fab class="map-fab" (click)="zoomIn()" aria-label="Vergrößern">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-mini-fab class="map-fab" (click)="zoomOut()" aria-label="Verkleinern">
    <mat-icon>remove</mat-icon>
  </button>
</div>

<div class="map-controls-right">
  <button mat-mini-fab class="map-fab" (click)="goToLocation()" aria-label="Meinen Standort anzeigen">
    <mat-icon>my_location</mat-icon>
  </button>
</div>
