:host {
  display: block;
  height: 100%;
}

.map-fill {
  height: 100%;
}

:host ::ng-deep .leaflet-control-locate {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1565c0;
}
